body {
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    font-family: monospace;
    font-size: 12.5px;
    color: #DBDBDB;
    text-align: left;
    line-height: 1.5 !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: 12.5px;
    margin: 0px;
    margin-top: 22px;
    font-weight: bold;
    color: #DBDBDB;
  }
  
  p, ul, ol {
    margin: 0px;
    color: #DBDBDB;
  }
  
  a {
    text-decoration: none;
    color: #DBDBDB;
  }
  
  a:hover {
    color: #000;
    background-color: #DBDBDB;
  }
  
  .primary-text {
    color: #a1fc8f;
  }
  
  @media only screen and (max-device-width: 500px) {
    * {
      font-size: 12px !important;
    }
  }
  
  .pi {
    user-select: none;
  }
  
  .container {
    width: 90%;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
  }
  
  p {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
  }
  
  footer {
    color: #DBDBDB;
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
    margin: 20px auto 15px;
    padding-top: 10px;
    text-align: right;
  }
  
  header {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  header p {
    text-align: left;
    margin: 0;
  }
  
  footer {
    margin-bottom: 20px;
  }
  
  ::selection {
    background: rgba(219, 219, 219, 0.99);
    color: #000;
  }
  
  ::-moz-selection {
    background: rgba(219, 219, 219, 0.99);
    color: #000;
  }
  
  :not(.menu) > ul {
    list-style: none;
    padding-left: 0;
  }
  
  :not(.menu) > ul > li:before {
    content: "-";
    margin-right: 9px;
  }
  
  .menu {
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
    border-bottom: dashed 1px rgba(219, 219, 219, 0.9);
    margin-bottom: 25px;
  }
  
  .menu ul {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0px;
    list-style-type: none;
    text-align: right;
  }
  
  .menu ul li {
    display: inline;
    margin-left: 10px;
  }
  
  .menu ul li a:hover {
    color: #000;
    background-color: #DBDBDB;
  }
  
  input, select, textarea {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: none;
  }
  
  input[type="text"], select, textarea {
    width: 100%;
    resize: none;
    background-color: #000;
    color: #DBDBDB;
    caret-color: #DBDBDB;
    font-size: 12.5px;
    font-family: monospace;
    line-height: 1.5;
  }
  
  ::placeholder {
    color: #DBDBDB;
    opacity: 1;
  }
  
  input[type="submit"] {
    font-size: 12.5px;
    font-family: monospace;
    line-height: 1.5;
    cursor: pointer;
    color: #DBDBDB;
    background-color: #000;
  }
  
  input[type="submit"]:hover {
    color: #000;
    background-color: #DBDBDB;
  }
  
  *:focus {
    outline: none;
  }
  
  pre {
    background-color: #000;
    border: none;
    padding: 0px;
    overflow: auto;
    font-size: 12.5px;
    color: rgba(255, 255, 255, 0.65);
    line-height: 1.7 !important;
  }
  
